<div class='container' data-uk-parallax="{bg: '1'}">
	<div class='intro-container'>
		<div class='moon-name'>
			<img class='moon' src='/assets/moon.png' alt='moon'>
			<span class='name intro-absolute gary-container'>
				<p class='gary'>Gary </p>
				<p class='gary'>| Film Maker</p>
			</span>
		</div>
	</div>









</div>