<div class='container' data-uk-parallax="{bg: '-30'}">
	<div class='intro-container'>
		<div class='moon-name'>
			<img class='moon' src='/assets/moon.png' alt='moon'>
			<span class="name intro-absolute gary-container">
				<p class='gary gary-ner'>Gary </p>
				<p class='gary filmmaker'>| Film Maker</p>
			</span>
		</div>
	</div>
	<div class='quote '>
		<div class='border-out absolute-positions borders'>
			<div class='border-in absolute-positions borders'>
				<p class='the-quote absolute-positions'>"Lorem ipsum dolor sit amet at. Non eget vestibulum luctus justo laoreet. Urna libero in. Ut vestibulum nonummy."</p>
			</div>
		</div>
	</div>

	<div class='main-body fixed-pose'>
		<div class='aboutme body-sections'>
			<div class='left-tab  uk-container'>
				<aside class='left-items uk-vertical-align-middle'>
					<h3>About Me</h3>
				</aside>
			</div>
			<div class='right-tab'>
			</div>
		</div>
		<div class='movies body-sections section-active'>
			<div class='left-tab uk-container'>
				<aside class='left-items uk-vertical-align-middle'>
					<h3>Movies</h3>
				</aside>
			</div>
			<div class='right-tab'>

			</div>
		</div>
		<div class='clips body-sections'>
			<div class='left-tab uk-container'>
				<aside class='left-items uk-vertical-align-middle'>
					<h3>Clips</h3>
				</aside>
			</div>
			<div class='right-tab'>

			</div>
		</div>
	</div>

</div>