<div class='container' data-uk-parallax="{bg: '-30'}">
	<div class='intro-container'>
		<div class='moon-name'>
			<img class='moon' src='/assets/moon.png' alt='moon'>
			<span class="name intro-absolute gary-container">
				<p class='gary gary-ner'>Gary </p>
				<p class='gary filmmaker'>| Film Maker</p>
			</span>
		</div>
	</div>
	<div class='quote '>
		<div class='border-out absolute-positions borders'>
			<div class='border-in absolute-positions borders'>
				<p class='the-quote absolute-positions'>"Lorem ipsum dolor sit amet at. Non eget vestibulum luctus justo laoreet. Urna libero in. Ut vestibulum nonummy."</p>
			</div>
		</div>
	</div>








</div>