// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
	height: 100%;
	width: 100%;
	min-width: 800px;
	background-image: url('/assets/space.jpg');
	background-size: cover;
	background-attachment: fixed;
	// height: 1100px;
}
//main body

.main-body {
	overflow: auto;
	padding: 0 50px;
	min-width: 1000px;
}
.body-sections {
	overflow: hidden;
	position: relative;
}

.container {
	background-image: url('/assets/stars');
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}

.right-tab {
	float: right;
	width: 65%;
	padding: 40px;
	height: 400px;
}

.left-tab {
	min-height: 300px;
	float: left;
	width: 35%;
	text-align: center;
	line-height: 200px;
	visibility: hidden;
	opacity: 0;
	height: 100%;

}
.section-active .left-tab {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2 linear;
}

.fixed-pose .left-tab {
	position: fixed;
	top: 0;
	left: 32px;
}




//intro
.intro-container {
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 255, 0.1);
}
.moon-name {
	right: 0;
	width: 60%;
	min-width: 550px;
	position:absolute;
	top: -100px;
}

.moon {
	right: 0;
}
.intro-absolute {
	position: absolute;

}
// galaa ner
.gary {
	display: inline-block;
	color: white;
	font-size: 40px;
}
.gary-container {
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
.gary-ner {
font-family: 'Righteous', cursive;



}
.filmmaker {
	font-family: 'Megrim', cursive;


}
//quotes

.quote {
	width: 100%;
	background-color: rgba(0, 0, 128, 0.3);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	
}
.absolute-positions{
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.borders {
	border: 1px solid rgba(255, 255, 255, .3);
	top: 50%;
}

.border-out {
	height: 90%;
	width: 94%;
}

.border-in {
	height: 89%;
	width: 93%;
}

.the-quote {
	position: absolute;
	text-align: center;	
	top: 30%;
	font-size: 24px;
	font-style: italic;
	line-height: 30px;
	color: white;
}


// about me

