<!DOCTYPE html>
<html>
  <head>
    <title>Gary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Megrim|Playfair+Display+SC:700|Righteous" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
